html, body{
	background-color: yellow;
	font-family: sans-serif;
	color: red;
	padding: 2em;
}

ol li{
	margin-bottom: 1em;
}

ul li:first-child{
	margin-top: 1em;
}

ul
{
	border: 1px solid #000;
	width: 100px;
}